
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <div class="bg-light p-1" style="--bs-bg-opacity: .7;"> <h4>&copy; 2022 All rights reserved.</h4></div>
        </nav>
        </footer>