<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to Group 3 Survey Website</h1>
      <p class="col-md-8 fs-4">To view surveys, click the Surveys Link in the Navbar to get started!</p>
    </div>
  </div>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>